#missingEle {
color: #FF0000;
font-weight: normal;
font-size: 15px;
padding-left: 10px;
padding-top: 10px;
text-align: center;
}

#errEmail, #errUser, #errPass, #errName, #errConPass{
color: #FF0000;
font-weight: normal;
}

body {
margin: 0px;
width: 200px;
padding: 100px;
}

form {
font-weight: bold;
padding-left: 20px;
}

a {
text-decoration: none;
}

#password, #username, #firstname, #lastname, #email {
border-radius: 1em;
padding-left: 5px
}

#button{
border-radius: 1em;
}

#loginpass, #loginuser, #back, #fullname{
padding-top: 10px;
}
#loginbutton{
padding-left:110px;
padding-top: 10px;
}

#signbutton{
padding-left:100px;
padding-top: 10px;
}

#register {
padding-left: 85px;
}

#back {
padding-top: 10px;
padding-left: 40px;
}

#signinback {
padding-top: 10px;
padding-left: 25px;
}