#missingEle {
color: #FF0000;
font-weight: normal;
font-size: 15px;
padding-left: 10px;
padding-top: 10px;
text-align: center;
}

#errEmail, #errUser, #errPass, #errName, #errConPass{
color: #FF0000;
font-weight: normal;
}

form {
font-weight: bold;
padding-left: 20px;
padding-right: 20px;
}

a {
text-decoration: none;
}

#password, #username, #firstname, #lastname, #email {
border-radius: 1em;
padding-left: 5px
}

#button{
border-radius: 1em;
}

#loginpass, #loginuser, #back, #fullname{
padding-top: 10px;
}

#signinback, #back{
padding-top: 10px;
padding-left: 25px;
}

#landing {
	background-image: url('vroom.gif');
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

#greeting_msg{
	font-size: 3em;
	font-weight: bold;
	color: white;
	text-align: center;
	padding-top: 30px;
}

.ui-content-landing {
	margin-top: 310px;
}