.menuPanel {
    background-color: #2F2F2F;
	color: #0055c9;
	font-weight: 400;
	text-shadow: none;
	box-shadow: 0px 1px 3px 1px #2F2F2F;
}

.menuPanel h1 {
	font-weight: 300;
	margin: 0;
	padding-left: .5em;
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #FFFFFF;
}

.menuLink {
	font-size: 1.2em;
    color: #FFF;
    text-decoration: none;
    display: block;
    padding:10px 10px 10px 20px;
	margin-top: 3px;
	background-color: #0055C9;
	text-shadow:none;
}
a.menuLink:active{background-color:#959595;
						text-shadow: none;}
a.menuLink:hover{background-color: #959595;
				text-shadow: none;}

.headerAlignRight {
    right:5px;
}
#map-canvas {
    height:400px; 
    width:100%;
}
.match {
    position:relative;
    width:100%;
    height:75px;
    border: 1px solid grey;
    margin-top:25px;
    
}
.match>img{
    height:75px;
    width:75px;
    float:left;
}

#header_schedule{
    padding-left: 48px;
}
.ui-btn.ui-btn-inline.day_buttons{
height: 100%;
margin: 0;
}

#errorM, #errorA{
    color: red;
    font-size: small;
}

#goodMap {
    height: 300px;
    width: 100%;
}

#day {
    font-size: 150%;
}

/*Styling for Notifications*/
.card_container {
	position: relative;
	background-color: #FFFFFF;
	box-shadow: 1.5px 1.5px 2px -1px #2F2F2F;
	margin-bottom: 5px;
	min-height: 75px;
}

.thumbnail {
	float: left;
}

.thumbnail img{
	display:block;
	height: 72px;
	width: 72px;
}

.card_content {
	position: relative;
	padding: 5px 30px 5px 80px;
}

.card_content p {
	margin: 0;
	font-size: 1.2em;
	color: #000;
	font-weight: 300;
	text-shadow: none;
}

/*Special Button Container and Button Settings*/

/*Menu Bar Icon*/
.ui-btn.ui-btn-icon-notext.ui-nodisc-icon.ui-icon-bars {
	height: 100%;
	background-color: #2F2F2F;
}

.ui-btn.ui-btn-icon-notext.ui-nodisc-icon.ui-icon-bars:hover {
	height: 100%;
	background-color: #3388cc;

	}
.ui-icon-bars:after {
	background-size: 2em;
}
/*Delete Notification Button*/
.ui-btn-icon-notext.ui-btn-right.ui-icon-delete {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0px
}

/*Back Button*/
#headerAlignRight{
	height: 100%;
	top: 0;
	right: 0;
}
/*Profile Page Styling*/
.profile_main {
	position: relative;
	background-color: #FFFFFF;
}

.profile_main h1{
	font-weight: 300;
	text-shadow: none;
	color: #FFF;
	padding-left: 5px;
	padding-bottom: 3px;
	margin: 0;
	background-color: #0055C9;
}

.profile_main h2{
	font-size: 1.5em;
	font-weight: 300;
	margin: 10px 10px 0 0;
}

.profile_main h3{
	font-size: 1.2em;
	margin: 15px 0px 0px 0px;
	font-weight: 300;
}

.profile_info h3{
	padding: 0px 5px;
	margin: 0;
}


.profile_main p{
	font-weight: 300;
	padding: 5px 5px;
	margin: 0;
}

.profile_contact{
}

.profile_img {
	float: left;
	margin: 10px;
}

#photo{
	display: block;
	width: 100px;
	height: 120px;
	border: 2px solid #333;
}

.profile_info{
	margin: 5px 10px;
}

/*Profile Comments*/

.profile_comments{
	background-color: #FFF;
}
.profile_comments h1{
	font-weight: 300;
	text-shadow: none;
	color: #FFF;
	padding-left: 5px;
	padding-bottom: 3px;
	margin: 0;
	background-color: #0055C9;
}

.profile_comments{
	font-weight: 300;
}

.profile_comments h3{
	font-weight: 300;
}

.comment_container{
	margin: 0 15px;
}

.comment_thumbnail{
	float: left;
	margin-right: 10px;
}

/*Rating Bar*/
.star {
	float: left;
	padding-top: 10px;
}
.star img {
	width: 18px;
}