.menuPanel {
    background-color: #2F2F2F;
	color: #0055c9;
	font-weight: 400;
	text-shadow: none;
}

.menuPanel h1 {
	font-weight: 300;
	margin: 0;
	padding-left: .5em;
	background-color: #FFFFFF;
}

.menuLink {
	font-size: 1.2em;
    color: #FFF;
    text-decoration: none;
    display: block;
    padding:10px 10px 10px 20px;
	margin-top: 3px;
	background-color: #0055C9;
	text-shadow:none;
}
a.menuLink:active{background-color:#959595;
						text-shadow: none;}
a.menuLink:hover{background-color: #959595;
				text-shadow: none;}

.headerAlignRight {
    right:5px;
}
#map-canvas {
    height:400px; 
    width:100%;
}
.match {
    position:relative;
    width:100%;
    height:75px;
    border: 1px solid grey;
    margin-top:25px;
    
}
.match>img{
    height:75px;
    width:75px;
    float:left;
}

#head1{
    padding-left: 50px;
}
#errorM, #errorA{
    color: red;
    font-size: small;
}

#map1 {
    height: 500px;
    width: 500px;
}

#day {
    font-size: 150%;
}

.thumbnail {
	float: left;
}
.thumbnail img{
	display:block;
	height: 72px;
	width: 72px;
	border-right: 3px solid #0055c9;
}

.card_content {
	margin-right: .5em;
	margin-left: 7em;
	font-size: 1em;
	padding-top: .2em;
}

.card_container {
	position: relative;
	border: 3px solid #0055c9;
	margin-top: 20px;
	height: 72px;
}

.btn_container {
	position: absolute;
	right: 0;
}

/*Rating Bar*/
.star {
margin: auto;
width: 100%;
}
.star img{
width: 1em;
}
#mapcanvas3 {    
    height: 350px;
    width:100%;
}
